/* ---------------------------font------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* ------------------------common style--------------------- */

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1440px;
    margin-bottom: 70px;
}

/* -------------------top section style start---------------------- */

.colorfull{
    background-color: #2D25A0;
}
.top-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 570px;
}
.main-title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: -40px;
    margin-left: 80px;
}
.live-link{
    background-color: #E02C6D;
    width: 168px;
    height: 45px;
    padding: 12px 25px;
    margin-left: 80px;
    box-sizing: border-box;
}
.live-link a{
    text-decoration: none;
}
.live-link span, i{
    color: #FFFFFF;
    font-weight: 500;
}
.live-link i{
    margin-left: 8px;
}
.top-banner img{
    width: 556px;
    height: 438px;
    margin-top: 70px;
}

/* -------------------top section style end---------------------- */

/* ----------------------effect style start----------------- */

.colorfull:hover .top-div{
    background-color: brown;
}
.top-banner {
    width: 450px;
    height: 565px;
    position: relative;
    display: inline-block;
}
.top-banner .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.top-div:hover .img-top {
    display: inline;
}

/* --------------------effect style end---------------------- */


/* ---------------------mid section style start--------------------- */

.player-list{
    margin: 0px 210px 27px 180px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.player-detail{
    width: 330px;
    height: 475px;
    box-sizing: border-box;
    padding: 15px 15px 33px 15px;
    box-shadow: 1px 1px 10px #b9a3a3;
}
.player-pic img{
    width: 300px;
    height: 255px;
    margin-bottom: -15px;
}
.player-info h2{
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
}
.player-info p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
}

/* ---------------------mid section style end--------------------- */

/* ---------------------extra section style start-------------------------- */

.extra-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 570px;
    margin: 0px 210px 27px 180px;
}
.video-detail{
    width: 50%;
}
.video-title h1{
    font-size: 40px;
    font-weight: 700;
}
.video-title p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}
.video{
    width: 50%;
    margin-left: 90px;
}

/* ---------------------extra section style end-------------------------- */

/* ---------------------footer styles start---------------------- */

.foot-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 65px;
    box-sizing: border-box;
}
.logo img{
    width: 484px;
    height: 110px;
    margin-bottom: 20px;
}
.fab{
    color: #969BAB;
    font-size: 32px;
    margin-right: 14px;
    margin-bottom: 20px;
}
.copyright p{
    font-size: 30px;
    font-weight: 400;
}

/* ---------------------footer styles end---------------------- */

/* -------------------------media query start-------------------------- */

/* ------------------------mobile devices------------------------ */

@media only screen and (max-width:688px) {

    .container{
        width: 100%;
    }
    .top-div{
        grid-template-columns: repeat(1,1fr);
    }
    .copa-america{
        width: 395px;
    }
    .main-title{
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    .top-banner{
        width: 395px;
    }
   .top-banner img{
       width: 80%;
       height: 250px;
       margin-top: 50px;
       margin-left: 15px;
   }
   .player-list{
       grid-template-columns: repeat(1,1fr);
       margin-left: 30px;
   }
   .extra-div{
       flex-direction: column;
       align-items: center;
       margin-left: 30px;
       width: 100%;
    }
    .video-detail{
       width: 100%;
       margin-bottom: 30px;
    }
    .video-title h1{
       font-size: 20px;
       font-weight: 400;
    }
   .video-title p{
       color: #6C6C6C;
       font-size: 16px;
       font-weight: 400;
       margin-right: 30px;
    }
    .video{
       width: 100%;
       margin-left: 5px;
    }
    .video iframe{
       width: 80%;
       height: 200px;
    }
    .foot-div{
        width: 100%;
    }
    .foot-div{
       margin-top: 70px;
       margin-bottom: 50px;
    }
    .logo img{
       width: 284px;
       height: 110px;
       margin-bottom: 20px;
    }
   .copyright p{
       font-size: 20px;
       font-weight: 400;
    }


    /* .extra-div, .foot-div, .player-list{
        display: none;
    } */

}


/* ------------------------tablet devices------------------------

@media only screen and (min-width:688px) and (max-width:992px) {
    
    
} */